$footer-height_ak: 50px;

.app-footer {
  min-height: $footer-height_ak;
  padding: 0 $spacer-x;
  line-height: $footer-height;
  color: $footer-color;
  background: $footer-bg;
  @include borders($footer-borders);
}
