<a target="_blank" href="https://www.behance.net/doonnnx">
  <div class="thecard">
    <div class="card-img">
      <img src="https://s25.postimg.org/s96wbzazj/yosemite_500.jpg">
    </div>
    <div class="card-caption">
      <i id="like-btn" class="fa fa-thumbs-o-up"></i>
      <span class="date">Thursday, July 16, 2015</span>
      <h1>The standard chunk of Lorem Ipsum</h1>
      <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
    </div>
    <div class="card-outmore">
      <h5>Read more</h5>
      <i id="outmore-icon" class="fa fa-angle-right"></i>
    </div>
  </div>
</a>
