.legend-wrap_ak {
  width: fit-content;
  background-color: blue
}

.chart-legend li span, .bar-legend li span, .line-legend li span, .pie-legend li span, .radar-legend li span, .polararea-legend li span, .doughnut-legend li span {

  position: relative;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
}


.chart-legend .legend-labels {
  display: grid;
  line-height: 85%;
  list-style: none;
  text-align: left;
  float: left;
  width: 100%;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.05);
}
