<section class="wrapper">
  <ul class="breadCrumbs">
    <li><a href="" title="Home" class="animation">Home</a></li>
    <li><a href="" title="Portfolio" class="animation">Portfolio</a></li>
    <li><a href="" title="Websites" class="animation">Websites</a></li>
    <li class= "activePage"><p href="" title="HPU internet services"  class="animation">HPU internet services</p></li>
    <div class="clear"></div>
  </ul>
</section>

<section class="wrapper">
  <header>
    <h1>Breadcrumbs</h1>
  </header>
  <article>
    <p>Cras in ipsum vitae nunc dignissim cursus. Sed tristique neque nunc, eu mollis mauris adipiscing a. Ut euismod tortor in odio tincidunt porta. Nulla at felis vel leo pretium tempus et at leo. Sed ac tellus pharetra, elementum augue eget, euismod dolor. Aenean dui purus, molestie quis viverra a, rutrum eu lacus. Mauris dolor velit, accumsan id suscipit sollicitudin, pharetra eu sem.</p>
  </article>
</section>
